body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fly-img {
  position: fixed;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 9999;
  transition: transform 1s ease, opacity 1s ease;
  pointer-events: none;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  color: #5C3A1E;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 10;
}

.arrow-btn:hover {
  background: #5C3A1E;
  color: white;
  cursor: pointer;
}
